{% extends "base.html" %}
{% load static %}

{% block meta %}
    <title>Pengajuan Peminjaman Barang </title>
    <link rel="stylesheet" href="{% static 'css/transaction.css' %}">
{% endblock meta %}

{% block content %}
    <main>
        <section class="request-section py-5">
            <div class="container row justify-content-center">
                <div class="col-md-11">
                    <h1 class="page-title mb-5 text-center">Form Pengajuan</h1>
                        <form method="post"
                            action="{% url 'transaction:form_pinjam' barang.id %}"
                            class="request-form">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group row mb-3 align-items-center">
                                    <label for="{{ field.id_for_label }}" class="col-md-2 col-form-label text-md-end fw-semibold"> {{ field.label }}</label>
                                    <div class="col-md-9">
                                        {{ field }}
                                        {% for error in field.errors %}
                                            <p class="text-danger small mt-1">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row mb-4 align-items-center">
                                <label class="col-md-2 col-form-label text-md-end fw-semibold">Total biaya </label>
                                <div class="col-md-9">
                                    <span class="total-price">Rp {{ barang.price }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 offset-md-2 d-flex gap-3">
                                    <button type="submit" class="button btn-warning flex-fill text-center">Kirim Pengajuan</button>
                                    <a href="{% url 'item:item_detail' barang.id %}" class="button btn-secondary flex-fill text-center">Batalkan</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </section>
    </main>
{% endblock content %}
