{# Logo sementara (SVG). Kalau sudah ada file logo asli, ganti isi file ini dengan:
   {% load static %}<img src="{% static 'img/logo.png' %}" alt="PinjemAja"> #}
<svg class="logo-svg" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Logo PinjemAja">
    <polygon points="32,5 58,19 32,33 6,19" fill="#FFBA00" stroke="#0C3B2E" stroke-width="2" stroke-linejoin="round"/>
    <polygon points="6,19 32,33 32,60 6,46" fill="#0C3B2E"/>
    <polygon points="58,19 32,33 32,60 58,46" fill="#165a45"/>
    <path d="M32 33v27" stroke="#FFBA00" stroke-width="2"/>
    <path d="M13 29l12 7v7l-12-7z" fill="#FFBA00"/>
</svg>